body {

    margin: 200px;


    background: linear-gradient(20deg,black, white);
    background-size: 400%;
    animation: gradient 3s ease infinite;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 20px;
    color: white;
    letter-spacing: 10px;
    text-align: center;
}

.title{
  font-size: 70px;
  font-family: helvetica;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
